{% extends 'layout.html' %}
{% from 'macros/input.html' import input %}
{% from 'macros/upload_image.html' import upload_image %}
{% from 'macros/user_list.html' import render_users %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    <h2>Friends</h2>
    {{ render_users(current_user.friends) }}
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            {{ input(form.username) }}
            {{ input(form.email) }}
            {{ upload_image(form.picture) }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
