{% extends 'layout.html' %}
{% from 'macros/macros.html' import input %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                {{ input(form.theme) }}
                {{ form.datefield }}
                {{ form.timefield }}
                {{ form.datetimefield }}
                <div class="row">
                    <div class="form-group col-md-6 datepicker">
                        {{ form.start_date.label(class="form-control-label") }}
                        {% if form.start_date.errors %}
                        {{ form.start_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.start_date.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.start_date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.duration_hours.label(class="form-control-label") }}
                        {% if form.duration_hours.errors %}
                        {{ form.duration_hours(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.duration_hours.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.duration_hours(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.duration_minutes.label(class="form-control-label") }}
                        {% if form.duration_minutes.errors %}
                        {{ form.duration_minutes(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.duration_minutes.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.duration_minutes(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.maximum_attendants.label(class="form-control-label") }}
                        {% if form.maximum_attendants.errors %}
                        {{ form.maximum_attendants(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.maximum_attendants.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.maximum_attendants(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    {{ input(form.location_name) }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}