{% extends 'layout.html' %}
{% from 'macros/macros.html' import input %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                {{ input(form.theme) }}
                <div class="row">
                    <div class="col-md-3">
                        {{ input(form.start_date) }}
                    </div>
                    <div class="col-md-2">
                        {{ input(form.duration_hours) }}
                    </div>
                    <div class="col-md-2">
                        {{ input(form.duration_minutes) }}
                    </div>
                    <div class="col-md-2">
                        {{ input(form.maximum_attendants) }}
                    </div>
                    <div class="col-md-3">
                        {{ input(form.location_name) }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}