{% extends 'layout.html' %}
{% from 'macros/macros.html' import input, render_users %}
{% from 'macros/macros.html' import render_modal with context %}
{% block content %}
    <div class="content-section">
        <h2>Friends of {{ user.username }}</h2>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ input(form.username) }}
            <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <h2>Friends</h2>
        {{ render_users(user.friends) }}
    </div>
{% endblock content %}