{% extends 'layout.html' %}
{% block content %}
<div class="content-section">
    <div class="media">
        <div class="row">
            <img class="rounded-circle account-img"
                 src="{{ url_for('static', filename='profile_pics/' + event.host.image_file) }}">
            <div class="media-body">
                <h4>Host</h4>
                <h2 class="account-heading">{{ event.host.username }}</h2>
                <p class="text-secondary">{{ event.host.email }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <h4>Requests</h4>
            {% for request in event.join_requests %}
            <article class="media content-section">
                <div class="media-body">
                    {{ request.username }}
                    <form method="POST"
                          action="{{ url_for('events.accept_event_request', event_id=event.id, attendant_id=request.id) }}">
                        <input type="submit" value="Accept">
                    </form>
                    <form method="POST"
                          action="{{ url_for('events.refuse_event_request', event_id=event.id, attendant_id=request.id) }}">
                        <input type="submit" value="Deny">
                    </form>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="col-md-3">
            <h4>Attendants</h4>
            {% for attendant in event.attendants %}
            <div>
                {{ attendant.username }}
                {% if current_user == event.host %}
                <a href="{{ url_for('events.remove_attendant', event_id=event.id, attendant_id=attendant.id) }}">X</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}