{% extends 'layout.html' %}
{% block content %}
{% for event in events %}
    {% for request in event.join_requests %}
    <article class="media content-section">
    <div class="media-body">
        <h2>You have received an event request from {{ request.username }} for event {{ event.theme }}</h2>
        <form method="POST" action="{{ url_for('events.accept_event_request', event_id=event.id, attendant_id=request.id) }}">
            <input type="submit" value="Accept">
        </form>
        <form method="POST" action="{{ url_for('events.refuse_event_request', event_id=event.id, attendant_id=request.id) }}">
            <input type="submit" value="Deny">
        </form>
    </div>
    </article>
    {% endfor %}
{% endfor %}
{% endblock content %}
