{% extends 'layout.html' %}
{% block content %}
{% for post in posts %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        {% if post.image_file %}
            <img src="{{ url_for('static', filename='posted_images/' + post.image_file) }}">
        {% endif %}
        <div class="article-footer">
        {% if current_user not in post.liked_by %}
            ({{ post.liked_by|count }})
            <a class="btn btn-info btn-sm" href="{{ url_for('posts.like_post', post_id=post.id) }}">Like</a>
        {% else %}
            ({{ post.liked_by|count }})
            <a class="btn btn-info btn-sm" href="{{ url_for('posts.like_post', post_id=post.id) }}">Unlike</a>
        {% endif %}
        </div>
    </div>
</article>
{% endfor %}
{% endblock content %}