{% extends 'layout.html' %}
{% block content %}
{% for request in requests %}
<article class="media content-section">
  <div class="media-body">
    <h2>You have received an event request from {{ request.username }} for event {{ request</h2>
    <form method="POST" action="{{ url_for('events.join_request', username=request.username) }}">
      <input type="submit" value="Accept">
    </form>
    <form method="POST" action="{{ url_for('users.refuse_request', username=request.username) }}">
      <input type="submit" value="Deny">
    </form>
  </div>
</article>
{% endfor %}
{% endblock content %}
