{% extends 'layout.html' %}
{% from 'macros/macros.html' import input %}
{% from 'macros/macros.html' import render_post with context %}
{% block content %}
    {{ render_post(post, False) }}
    <form action="{{ url_for('posts.post', post_id=post.id) }}" method="POST">
       {{ form.hidden_tag() }}
       <fieldset>
           {{ input(form.content) }}
       </fieldset>
       <div class="form-group">
           {{ form.submit(class="btn btn-outline-info") }}
       </div>
    </form>
{% endblock content %}