{% extends 'layout.html' %}
{% from 'macros/macros.html' import render_post with context %}
{% block content %}
<h1 class="mb-3">Posts by: {{ user.username }} ({{ posts.count() }})</h1>
{% if user != current_user and current_user.is_authenticated %}
    {% if user in current_user.friends %}
        <a href="{{ url_for('users.remove_friend', username=user.username) }}">Remove Friend</a>
    {% elif current_user in user.requests %}
        <p>Friend request sent..</p>
    {% else %}
        <a href="{{ url_for('users.send_request', username=user.username) }}">Add Friend</a>
    {% endif %}
{% endif %}
{% for post in posts %}
    {{ render_post(post) }}
{% endfor %}
{% endblock content %}
