{% macro render_post(post, add_comment=True) %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if post.author == current_user %}
                {% from 'macros/modal_popup.html' import render_modal with context %}
                {{ render_modal('deleteModal', 'modal_delete', url_for('posts.delete_post', post_id=post.id), 'POST', 'danger') }}
                <div>
                    <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">
                        Delete
                    </button>
                </div>
            {% endif %}
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        {% if post.image_file %}
            <img src="{{ url_for('static', filename='posted_images/' + post.image_file) }}">
        {% endif %}
        <div class="media-footer mt-3 mb-2">
            <span id="likesCount{{ post.id }}">{{ post.liked_by|count }}</span>
            <button class="btn btn-outline-info btn-like" post_id="{{ post.id }}" onclick="{{ url_for('posts.like_post', post_id=post.id) }}">
                {% if current_user not in post.liked_by %}
                    Like
                {% else %}
                    Unlike
                {% endif %}
            </button>
            <span id="commentsCount{{ post.id }}">{{ post.comments.count() }}</span>
            <button class="btn btn-outline-info btn-comment" post_id="{{ post.id }}">Comments</button>
        </div>
        <div class="comments-section{{ post.id }}" style="display: none">
            <h3>Comments</h3>
            {% for comment in post.comments %}
            <div class="comments-section">
                <a class="mr-2" href="{{ url_for('users.user_posts', username=comment.author.username) }}">{{ comment.author.username }}</a>
                <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
                <p>{{ comment.content }}</p>
            </div>
            {% endfor %}
            {% if add_comment %}
                <a href="{{ url_for('posts.post', post_id=post.id) }}">Add Comment</a>
            {% endif %}
        </div>
    </div>
</article>
{% endmacro %}