{% extends 'events/event_view.html' %}
{% block tab %}
<!-- ATTENDANTS -->
<table>
  {% for attendant in event.attendants %}
    <tr class="attendant{{ attendant.id }}">
      <td>{{ attendant.username }}</td>
      <td><img class="rounded-circle" src="{{ url_for('static', filename='profile_pics/' + attendant.image_file) }}"
               height="25" width="25"></td>
      <td>
        {% if current_user == event.host %}
        <a class="btn btn-sm btn-outline-info btn-remove-attendant" attendant_id="{{ attendant.id }}"
           onclick="{{ url_for('events.remove_attendant', event_id=event.id, attendant_id=attendant.id) }}">X</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock tab %}